body {
  background: #16191C;
  color: #6D737A;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-weight: 300;
}

a {
  color: #3F56D1;
}

.container {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
}
